{% extends 'blog/base.html' %}
    {% block content %}

        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ object.author.profile.image.url}}" alt="">
            <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" style="color: #333" href="#">{{ object.author.get_full_name }}</a>
              <small class="text-muted">{{ object.date_posted | date:"F d, Y" }}</small>
                {% if object.author == user %}

                    <a href="{% url 'post-delete' object.id %}" style="color: #333" class="mb-1 float-right"><i width="1rem" data-feather="x" ></i></a>
                    <a href="{% url 'post-update' object.id %}" style="color: #333" class="mb-1 mr-1 float-right"><i width="1rem" data-feather="edit-3" ></i></a>

                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            <p class="article-content"><img src="{{ object.graph.url}}" alt=""></p>
            </div>
        </article>

    {% endblock content %}
